################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Voidless/FileContentIndex/591caa6b-9aec-4399-a6b5-b666958a20a9.vsidx
