################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Voidless/FileContentIndex/591caa6b-9aec-4399-a6b5-b666958a20a9.vsidx
/.vs/Voidless/FileContentIndex/47842841-6ec2-4c5a-8cff-0d7915a98aaa.vsidx
